.conteiner {
    gap: 10px;
}
.box{
    border: 1px ;
    width: 300px;
    background-color: blue;
    height: 300px;
}
h1 {
    text-align: center;
    color: chartreuse;
    text-decoration: underline;
}
p {
    text-align: center;
    color: crimson;
}